
@{
    ViewData["Title"] = "Auctions";
}

<h1 style="text-align: center;
            padding: 3rem 1rem;
            background: linear-gradient(to right, #dbe9f4, #edf1f7);
            animation: fadeInDown 1.2s ease">
    Auctions
</h1>

<p style="font-size: 3rem;
            color: #003366;
            margin-bottom: 1rem">This is where the auctions will take place.</p>

