
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<p>If you have any questions, feel free to reach out using the contact details provided.</p>

<ul>
    <li>Address: 44 Alsatian Road, Glen Austin Ext. 3, Midrand</li>
    <li>Phone: +27 (0) 11 690 1700</li>
    <li>Email: <a href="#">corpcommunications@eduvos.com</a></li>
</ul>

