
@{
    ViewData["Title"] = "Contact";
}

<h1 style="text-align: center;
            font-size: 2.8rem;
            color: #003366;
            margin-bottom: 1rem">
    Contact
</h1>

<p style="text-align: center;
            font-size: 1.2rem;
            color: #444;
            margin-bottom: 2rem">If you have any questions, feel free to reach out using the contact details provided:</p>

<ul style="list-style: none;
            padding: 0;
            margin: 0 auto;
            max-width: 600px">
    <li style=" display: flex;
            align-items: center;
            background-color: #e9f0fa;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 8px;
            font-size: 1.1rem;
            color: #003366;
            animation: slideIn 1s ease forwards">Address: 44 Alsatian Road, Glen Austin Ext. 3, Midrand</li>
    <li style="margin-right: 1rem;
            font-size: 1.5rem;
            color: #007bff">Phone: +27 (0) 11 690 1700</li>
    <li style="margin-right: 1rem;
            font-size: 1.5rem;
            color: #007bff">Email: <a href="#">corpcommunications@eduvos.com</a></li>
</ul>

