@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Home Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<main>@*main contents of the home page*@
    <h3>This is the Home Page Of The Eduvos Bidding System</h3>
    <p> Eduvos is launching a sophisticated online auction platform to sell its old and outdated computer equipment. 
        This website enables Eduvos to show available items with starting bid prices, allowing customers such as students, staff members, and educators to submit bids in real time. 
        Users must first register and log in to participate, ensuring that the bidding process is secure and transparent.
        If numerous bids are placed on the same item, the system will instantly update the current bid price, keeping buyers informed throughout the auction.</p>
</main>



