@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Home Page</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<nav class="navbar">
    @*Sub element navigation bar that acts as a homepage dashboard to make things easier for the user to navigate the homepage*@
    <ul>
        @*list item elements are created for the bidding system*@
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">SERVICE</a></li>
        <li><a href="#">CONTACT</a></li>
    </ul>
</nav>

<main>@*main contents of the home page*@
    <h3>This is the Home Page Of The Eduvos Bidding System</h3>
    <p> Eduvos is launching a sophisticated online auction platform to sell its old and outdated computer equipment. 
        This website enables Eduvos to show available items with starting bid prices, allowing customers such as students, staff members, and educators to submit bids in real time. 
        Users must first register and log in to participate, ensuring that the bidding process is secure and transparent.
        If numerous bids are placed on the same item, the system will instantly update the current bid price, keeping buyers informed throughout the auction.</p>
</main>
@* Log in and Sign up button creation*@
<button class="cn"><a href="#>JOIN US"</a></button>

<div class="form">
    <h2>Log In Here</h2>
    <input type="email" name="email" placeholder="Enter Your Email Address Here" />@*Enabling the user to login with the use of their email address*@
    <input type="password" name="" placeholder="Enter Your Password Here" />@*Enabling the user to login with the use of their email address and password*@
    <button class="btn"><a href="#">Login</a></button>@* Log in button*@
    
    <p class="link"> Have not Logged in with us before?</p></br>@* Link to enable the user to Sign up if they have not logged in to the system before*@
    <a href="#">Sign Up Here</a>
    <p class="liw">Log In With</p>
</div>
